body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex: 1;
    margin-left: 250px;
}

.sidebar {
    width: 220px;
    background-color: #0077b6;
    padding-top: 30px;
    text-align: center;
    border-radius: 20px;
    margin: 30px;
    height: 650px;
    margin-top: 150px;
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 999;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

h2 {
    color: #1e3a8a;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.message {
    padding: 10px;
    color: #1e3a8a;
    border-radius: 4px;
    margin-bottom: 20px;
}

form.search {
    display: flex;
    justify-content: flex-end;
    gap:10px;
    margin-bottom: 30px;
}

form.editForm{
    margin-bottom: 20px;
}

.search label{
    font-weight: bold;
    color: #0A2F4F;
    transform: translateY(7px);
}

.search input{
    padding: 8px;
    width: 200px;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #0A2F4F;
    border-radius: 4px;
}

button {
    padding: 10px 16px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

button.search{
    width: 115px;
}

button:hover {
    background-color: #1d4ed8;
}

button[name="edit_customer"]{
    color: black;
    background-color: #ffc107;
}

button[name="edit_customer"]:hover{
    background-color: #e0a800d1;
}

.upd_div{
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin-top: 10px;
}

table, th, td {
    font-size: 15px;
    border: 1px solid #1e3a8a;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1e3a8a;
    color: white;
}

tr:nth-child(even) {
    background-color: #e3f2fd;
}

table tr:hover {
    background-color:rgb(237, 236, 236);
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

.status-inactive{
    color: red;
}

.status-active{
    color: #05ac2c;
}

.btn-inactive{
    background-color:red;
}


.btn-inactive:hover{
    background-color: #c82333;
}

.btn-active{
    background-color: #05ac2c;
}

.btn-active:hover {
    background-color: #218838;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
.close:hover{
    color: red;
}

#editModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.edit-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 850px;
    margin: auto;
    margin-top: 200px;
}

.edit-form{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.left, .right {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

#editModal h3{
    margin-top: 0;
    margin-bottom: 30px;
    color: #1e3a8a;
    font-size: 25px;
    text-align: center;
}

#editModal label{
    display: block;
    margin-bottom: 5px;
    color: #1e3a8a;
    font-weight: bold;
    font-size: 15px;
}

#editModal input, #editModal textarea, #editModal select{
    width: 95%;
    padding: 8px;
    margin-bottom: 13px;
    border: 1px solid #93c5fd;
    border-radius: 4px;
    font-size: 13px;
}

#editModal select{
    width: 100%;
}

#editModal button[type="submit"]{
    background-color: #1e3a8a;
}

#editModal button[type="submit"]:hover{
    background-color: #1d4ed8;
}

#editModal p{
    margin: 0;
    color:gray;
}

input::placeholder{
    font-size: 12px;
    font-style: italic;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
    margin-bottom: 5px;
}

.error-field {
    border: 1px solid red !important;
}

.valid-field{
    border: 1px solid rgb(0, 255, 0) !important;
}

span{
    color:gray;
    font-size: 12px;
}