        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex: 1;
    margin-left: 250px;
}

.sidebar {
    width: 220px;
    background-color: #0077b6;
    padding-top: 30px;
    text-align: center;
    border-radius: 20px;
    margin: 30px;
    height: 650px;
    margin-top: 150px;
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 999;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

h2 {
    color: #1e3a8a;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.message {
    padding: 10px;
    color: #1e3a8a;
    border-radius: 4px;
    margin-bottom: 20px;
}

form.search {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

form.editForm, .addForm {
    margin-bottom: 20px;
}

label{
    font-weight: bold;
}

.search label{
    color: #0A2F4F;
    transform: translateY(8px);
    font-size: 14px;
}

select, input{
    padding: 8px;
    font-size: 12px;
    margin-bottom: 10px;
    border: 1px solid #0A2F4F;
    border-radius: 4px;
}

.search input {
    width: 200px;
}

button.search {
    width: 105px;
}

button {
    padding: 10px 16px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

button:hover {
    background-color: #1d4ed8;
}

button[name="edit_product"] {
    color: black;
    background-color: #ffc107;
}

button[name="edit_product"]:hover {
    background-color: #e0a800d1;
}

.status-inactive{
    color: red;
}

.status-active{
    color: #05ac2c;
}

.btn-inactive{
    background-color:red;
}

.btn-inactive:hover{
    background-color: #c82333;
}

.btn-active{
    background-color: #05ac2c;
}

.btn-active:hover {
    background-color: #218838;
}

.add {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
}

.add_btn{
    background-color: #28a745;
}

.add_btn:hover {
    background-color: #218838;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin-top: 10px;
}

table, th, td {
    font-size: 15px;
    border: 1px solid #1e3a8a;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1e3a8a;
    color: white;
}

tr:nth-child(even) {
    background-color: #e3f2fd;
}

table tr:hover {
    background-color:rgb(237, 236, 236);
}

.action{
    width: 162px;
}

.price {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

#editModal, #addModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.edit-content, .add-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    width: 490px;
}

.edit-form, .add-form{
    display: flex;
    justify-content: space-around;
}

.left{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.right {
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    width: 110px;
}

.description-section {
    width: 95%;
}

.upd_button, .add_button {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

button[name="add_product"] {
    width: 80px;
}

#editModal h3, #addModal h3 {
    margin-top: 0;
    color: #1e3a8a;
    font-size: 25px;
    text-align: center;
}

#editModal label, #addModal label {
    display: block;
    margin-bottom: 5px;
    color: #1e3a8a;
    font-size: 15px;
}

#editModal input, #editModal textarea, #editModal select, #addModal input, #addModal textarea, #addModal select {
    width: 90%;
    padding: 8px;
    margin-bottom: 13px;
    border: 1px solid #93c5fd;
    border-radius: 4px;
    font-size: 13px;
}

#editModal select, #addModal select{
    width: 96%;
}
#editModal button[type="submit"], #addModal button[type="submit"] {
    background-color: #1e3a8a;
}

#editModal button[type="submit"]:hover, #addModal button[type="submit"]:hover {
    background-color: #1d4ed8;
}

.size-toggle {
    margin-bottom: 10px;
}

.size-toggle label {
    font-size: 15px;
    color: #1e3a8a;
    margin: 0;
    text-align: center;
}

input::placeholder{
    font-size: 12px;
    font-style: italic;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.error-field {
    border: 1px solid red !important;
}

.valid-field{
    border: 1px solid rgb(0, 255, 0) !important;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.pagination .page {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination .page:hover {
    background-color: #007BFF;
    color: #fff;
}

.pagination .page.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.edit-content span, .add-content span{
    color:gray;
    font-size: 12px;
}

.required{
    color: red;
}