body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex: 1;
    margin-left: 250px;
}

.sidebar {
    width: 220px;
    background-color: #0077b6;
    padding-top: 30px;
    text-align: center;
    border-radius: 20px;
    margin: 30px;
    height: 650px;
    margin-top: 150px;
    position: fixed;
    left: 0;
    top: 0; 
    z-index: 999;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
}

h2 {
    color: #1e3a8a;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 50%;
}

form label {
    font-weight: bold;
    color: #333;
    font-size: 15px;
}

.bcm-dropdown, .bcm-input {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    transition: border 0.3s ease;
}

.bcm-dropdown:focus, .bcm-input:focus {
    border-color: #0077b6;
    outline: none;
}

.bcm-button {
    padding: 12px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
}

.bcm-button:hover {
    background-color: #1d4ed8;
}

.error-message {
    color: #e63946;
    font-size: 13px;
    margin-top: -8px;
    margin-bottom: 5px;
    display: none;
}