ul {
    list-style: none;
    padding: 0;
}

 ul li {
    text-align: center;
    width: 200px;
    margin: auto;
    border-radius: 10px;
}

 ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: 0.3s;
    padding: 15px 20px;
}

 ul li a:hover {
    background-color: #1e3a8a;
    border-radius: 5px;
    font-weight: bold;
}
